.item-buho{
  margin-top: 20px;
  display:flex;
}

.show >.form-button{
  top: 36px;
  left: 96px;
}

.inline-block{
  display:inline-block;
}

.oculto{
  margin-top: 20px;
}

.botones{
  margin-top:30px;
}

.mapa{
  height: 70vh;
}
